<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Bereavement Journey
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
 
{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  }) }}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <form action="deceased-dependants-list" method=“post”>

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                <span class="nhsuk-caption-l nhsuk-caption--bottom">Deceased pension member details</span>
                Who are the dependants of the deceased?</h1>
            </legend>

             <p class="nhsuk-body">There can be multiple dependants.</p>
             <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  More information on dependant's pensions
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <h3>Adult dependent</h3>
                <p>This could be a spouse, civil partner or someone the deceased lived with who was eligible.</p>
                
                <h3>Child dependent</h3>
                <p>This could be any child, not only the children of the deceased.</p>
                
                <h3>Other nomination</h3>
                <p>This could be a single person, multiple people or an organisation. </p>

                
            
              </div>
            </details>

            <form>

              <div class="nhsuk-form-group">
            
                <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
            
                  <div class="nhsuk-hint" id="contact-hint">
                    Select all options that are relevant.
                  </div>
            
                  <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
            
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="contact-1" name="contact" type="checkbox" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                        Adult dependant
                      </label>
                    </div>
            
                    <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-1">
            
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="email">
                          Enter the dependant relationship to the deceased (optional)
                        </label>
                        <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
                      </div>
                     
                        <div class="nhsuk-form-group">
                          <label class="nhsuk-label" for="email">
                            Enter the dependant relationship to the deceased (optional)
                          </label>
                          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
                        </div>
                        <div><a href="url">List another adult dependant</a></div>
                      
            
                    </div>
            
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
                        Child dependant
                      </label>
                    </div>
            
                    <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-2">
            
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="phone">
                          Enter the dependant relationship to the deceased (optional)
                        </label>
                        <input class="nhsuk-input nhsuk-u-width-two-thirds" id="phone" name="phone" type="text">
                      </div>
                      <div><a href="url">List another child dependant</a></div>
            
                    </div>
                    
            
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text" aria-controls="conditional-contact-3" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                        Other nomination
                      </label>
                    </div>
            
                    <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-3">
            
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="mobile">
                          Enter the dependant relationship to the deceased (optional)
                        </label>
                        <input class="nhsuk-input nhsuk-u-width-two-thirds" id="mobile" name="mobile" type="text">
                      </div>
                      <div><a href="url">List another nomination</a></div>
            
                    </div>
            
                  </div>
                </fieldset>
            
              </div>
            
            </form>
        

        
          
              {{ button({
                "href": "deceased-uk-main-residence",
                "text": "Continue"
                }) }} 
      </fieldset>
    </form>
      </div>
    </div>


{% endblock %}

