<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Bereavement Journey
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
</br>


 
 
 {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  }) }}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
      <form action="declaration" method="post">
      <span class="nhsuk-caption-l nhsuk-caption--bottom">Deceased pension member's details</span>
        <h1 class="nhsuk-heading-l">Review deceased pension member details</h1>

<p>Check your answers and make sure they are correct before you continue. If you need to, you can change your answers.</p>

<h3>Previous answers</h3>

        <dl class="nhsuk-summary-list">

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Name
  </dt>
  <dd class="nhsuk-summary-list__value">
    Mrs Mia Bloggs
  </dd>

  
  <dd class="nhsuk-summary-list__actions">

    <a href="deceased-name">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; name. </span>
    </a>

  </dd>

</div>

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Tell us once reference number
  </dt>
  <dd class="nhsuk-summary-list__value">
    12345678910
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="deceased-pension-number">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; name. </span>
    </a>

  </dd>

</div>

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Membership number
  </dt>
  <dd class="nhsuk-summary-list__value">
    SD12345678
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="deceased-pension-number">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; name. </span>
    </a>

  </dd>

</div>

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
  Date of birth
  </dt>
  <dd class="nhsuk-summary-list__value">
    31 March 1940
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="deceased-date-of-birth">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; contact preferences.</span>
    </a>

  </dd>

</div>

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
  Date of death
  </dt>
  <dd class="nhsuk-summary-list__value">
    20 June 2024
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="deceased-date-of-death">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; contact preferences.</span>
    </a>

  </dd>

</div>

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Dependants
  </dt>
  <dd class="nhsuk-summary-list__value">
    Child Dependant- step-daughter, daughter and a son,<br>
    Adult Dependant- wife<br>
    Other nomination- Father and brother
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="deceased-dependants">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; password.</span>
    </a>

  </dd>

</div>

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Main residence in the UK?
  </dt>
  <dd class="nhsuk-summary-list__value">
    Yes
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="deceased-uk-main-residence">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; password.</span>
    </a>

  </dd>

</div>

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Address
  </dt>
  <dd class="nhsuk-summary-list__value">
    <p>10 Downing Street</p>
    <p>London</p>
    <p>SW1A 2AA</p>
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="deceased-postcode-lookup">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; password.</span>
    </a>

  </dd>

</div>



</div>


</div>

<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Continue
</button>
<script src="/public/javascripts/navigation.js"></script>
</form>
{% endblock %}
