<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Online Contact Form
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
</br>


 
 
 {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  }) }}


        <form method=“post”>

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <span class="nhsuk-caption-l nhsuk-caption--bottom">Deceased pension member details</span>
                Have you used the 'Tell Us Once' service to notify about this bereavement?</h1>
              </legend>
          <p>Tell Us Once is a service that lets you report a bereavement to most government organisations in one go.</p>

          <p>A registrar will explain the service when you register the death of the deceased.</p>

          <p>They'll either:</p>
     <ul class="nhsuk-list nhsuk-list--bullet">

            <li>complete the Tell Us Once service with you</li>
            <li>give you a unique reference number so you can use the service yourself online or by phone</li>
                
        </ul>
             
              <div class="nhsuk-radios nhsuk-radios--conditional">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="contact-1" name="reference" type="radio" value="informant-name" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                    Yes
                  </label>
                </div>
          
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
          
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="TUOREF">
                      Tell Us Once reference number
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" id="number" name="reference" type="text">
                  </div>
          
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="#" name="reference" type="radio">
                  <label class="nhsuk-label nhsuk-radios__label" for="#">
                    No
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="#" name="reference" type="radio">
                  <label class="nhsuk-label nhsuk-radios__label" for="#">
                    Not sure
                  </label>
                </div>

              </div>
            </fieldset>

          </div>
          {{ button({
            "href": "deceased-pension-number",
            "text": "Continue"
            }) }} 

{% endblock %}

