<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Bereavement Journey
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
 
{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  }) }}


          <h1 class="nhsuk-heading-l">
        
          
            Let us know an NHS pension member has died
          </h1>

    <p>Use this service to let us know a pension member has died. </p>

    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
    
      <p>If the deceased was working in pensionable NHS employment at the time of death, contact their last employer to arrange the correct forms.</p>
    </div>



<h3>Before you start</h3>

<p>We will need to know your:</p>
     <ul class="nhsuk-list nhsuk-list--bullet">
    
            <li>personal details</li>
            <li>contact details</li>
            <li>relationship to the deceased member</li>
           
        </ul>

<p>It will also help us match our records if you can tell us the deceased member’s:</p>
     <ul class="nhsuk-list nhsuk-list--bullet">
            <li>personal details</li>
            <li>membership number</li>
             <li>dependants</li>
            <li>main residence</li>
           
    
        </ul>

        <p>We will contact you to confirm we have your notification.</p>   
              
                {{ button({
                    "href": "informant-name",
                    "text": "Start"
                    }) }} 
                    

            </form>
        </div>
    </div>
{% endblock %}
