<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Online Contact Form
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
</br>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-phase-banner no-border">
      <p class="nhsuk-phase-banner__content">
        <strong class="nhsuk-tag nhsuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="nhsuk-phase-banner__text">
          This is a new service - your <a class="nhsuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>              
  </div>
</div>
 
 
 {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  }) }}


        <form method=“post”>

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                <span class="nhsuk-caption-l nhsuk-caption--bottom">Letting us know that a NHS pension member has died</span>
                Was the deceased member still in active employment?
              </h1>
            </legend>
            
             

            <div class="nhsuk-form-group">
              <div class="nhsuk-radios">

               

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="contact-employment-authority" name="example" type="radio"
                    value="contact-employment-authority" onclick="setLocation(this);">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-employment-authority">
                   Yes
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="your-interview-slots" name="example" type="radio"
                    value="check-your-answers" onclick="setLocation(this);">
                  <label class="nhsuk-label nhsuk-radios__label" for="confirmation-time-36">
                    No
                  </label>
                </div>

                

              </div>
          </fieldset>
          
          <button class="nhsuk-button" type="submit">
            Save and continue
          </button>
      </div>


    </div>
   

    </form>
  </div>
</div>

<script>
  function setLocation(element) {
    document.forms[0].action = element.value
  }
</script>
{% endblock %}

