<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Online Contact Form
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
</br>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-phase-banner no-border">
      <p class="nhsuk-phase-banner__content">
        <strong class="nhsuk-tag nhsuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="nhsuk-phase-banner__text">
          This is a new service - your <a class="nhsuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>              
  </div>
</div>
 


<style>




.nhsuk-hint-white {
  color: white
}

.nhsuk-details__summary {
    color: white;
    cursor: pointer;
    display: inline-block;
    padding-left: 24px;
    position: relative;
}
</style>

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
      <span class="nhsuk-caption-l nhsuk-caption--bottom">Your details</span>
        <h1 class="nhsuk-heading-l">Review your details</h1>

<p>Check your answers and make sure they are correct before you continue. If you need to, you can change your answers.</p>

<h3>Previous answers</h3>

        <dl class="nhsuk-summary-list">

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Name
  </dt>
  <dd class="nhsuk-summary-list__value">
    Chris Armstrong
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="account-name">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; name. </span>
    </a>

  </dd>

</div>
<!--
<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Pronoun
  </dt>
  <dd class="nhsuk-summary-list__value">

  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="account-pronoun">
      Change<span class="nhsuk-u-visually-hidden"> pronoun</span>
    </a>

  </dd>

</div>
-->

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Email address
  </dt>
  <dd class="nhsuk-summary-list__value">
    chris.armstrong@gmail.com
  </dd>

  <dd class="nhsuk-summary-list__actions">

    

  </dd>

</div>

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
  How do you want to be contacted?
  </dt>
  <dd class="nhsuk-summary-list__value">
    Email and phone
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="account-contact">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; contact preferences.</span>
    </a>

  </dd>

</div>

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
  Phone number
  </dt>
  <dd class="nhsuk-summary-list__value">
    0779 2856 505
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="account-phone">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; telephone.</span>
    </a>

  </dd>

</div>

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Password
  </dt>
  <dd class="nhsuk-summary-list__value">
    ******
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="account-existingpassword">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; password.</span>
    </a>

  </dd>

</div>
<!--
<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Address
  </dt>
  <dd class="nhsuk-summary-list__value">

  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="account-address">
      Change<span class="nhsuk-u-visually-hidden"> password</span>
    </a>

  </dd>

</div>
-->


<!-- <div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Language
  </dt>
  <dd class="nhsuk-summary-list__value">
    English
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="account-language">
      Change<span class="nhsuk-u-visually-hidden"> language</span>
    </a>

  </dd>

</div>-->

</dl>




    </div>
</div>





<style>




</style>

<script src="/public/javascripts/navigation.js"></script>

{% endblock %}
