<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Online Contact Form
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
</br>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-phase-banner no-border">
      <p class="nhsuk-phase-banner__content">
        <strong class="nhsuk-tag nhsuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="nhsuk-phase-banner__text">
          This is a new service - your <a class="nhsuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>              
  </div>
</div>
 
 
 {{ backLink({
    "href": "active-employee",
    "text": "Go back"
  }) }}

  <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            
    


            
                
          <h1 class="nhsuk-heading-l">
            <span class="nhsuk-caption-l nhsuk-caption--bottom">Letting us know that a NHS pension member has died</span>
          
            The employment authority must be contacted instead          </h1>

     <p class="nhsuk-body">If the deceased member was working in pensionable NHS employment, their last employer will sort out the appropriate forms. </p>


  
   
            
        <p> You will need to contact them to arrange the completion of the application forms.</p>

      
              
            <!--   {{ button({
                    "href": "active-employee",
                    "text": "Start"
                    }) }} --> 
                    

            </form>
        </div>
    </div>
    
{% endblock %}
