<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Online Contact Form
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
</br>


 
 
 {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  }) }}


        <form method=“post”>

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <span class="nhsuk-caption-l nhsuk-caption--bottom">Letting us know a NHS pension member has died</span>
                Do you know the Tell Us Once service reference number?</h1>
              </legend>
          <p>If you've used the Tell Us Once service, you may have a unique reference number.</p>

          <p>You do not need to notify us of the death of the deceased member if you have used the Tell Us Once service. But you can still complete this form to let us know.</p>
             
              <div class="nhsuk-radios nhsuk-radios--conditional">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="informant-name" aria-controls="conditional-contact-1" aria-expanded="false"
                  value="informant-name" onclick="setLocation(this);">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                    Yes
                  </label>
                </div>
          
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
          
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="TUOREF">
                      Tell Us Once reference number
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" id="number" name="number" type="text">
                  </div>
          
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="#" name="example" type="radio"
                    value="informant-name" onclick="setLocation(this);">
                  <label class="nhsuk-label nhsuk-radios__label" for="#">
                    No
                  </label>
                </div>

              </div>
            </fieldset>

          </div>
          <button class="nhsuk-button" type="submit">
            Continue
          </button>

<script>
  function setLocation(element) {
    document.forms[0].action = element.value
  }
</script>
{% endblock %}

