<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Online Contact Form
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
</br>

 
 
 {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  }) }}

  <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            
    


            
                
          <h1 class="nhsuk-heading-l">
        
          
            Letting us know a NHS pension member has died
          </h1>

     <p class="nhsuk-body">Use this service to let us know a pension member has died. </p>
<h3>Before you start</h3>

<p>We'll need to know your:</p>
     <ul class="nhsuk-list nhsuk-list--bullet">
    
            <li>name</li>
            <li>relationship to the deceased member</li>
            <li>contact details</li>
            
        </ul>

<p>It’ll also help us match our records if you can tell us the deceased member’s:</p>
     <ul class="nhsuk-list nhsuk-list--bullet">
    
            <li>pension number</li>
            <li>date of birth</li>
            <li>address</li>
            
        </ul>

        <p>We’ll send you an email to confirm we have your notification.</p>
              
                {{ button({
                    "href": "eligibility-active-employment",
                    "text": "Start"
                    }) }} 
                    

            </form>
        </div>
    </div>
{% endblock %}
