<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Online Contact Form
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


 
 
 {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


        <h1 class="nhsuk-heading-l">
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Deceased member</span>
          Letting us know a NHS pension member has died
        </h1>

        <p>You have completed 3 of 3 sections.</p>

    </div>
    </div>
    <br>


              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">

                  <main id="check-answers task-list">


                    <ol class="app-task-list">

                      <li>
                        <h2 class="app-task-list__section">
                          Add your personal details
                        </h2>
                        <ul class="app-task-list__items" style="padding-left: 0px">

                          <li class="app-task-list__item">

                            <span class="app-task-list__task-name">
                              <a href="#">
                              Contact details
                              </a>
                            </span>
                              <strong class="nhsuk-tag app-task-list__tag">Completed</strong>

                            </li>

                            <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="#">
                                Relationship with deceased
                              </a>
                            </span>
                              <strong class="nhsuk-tag app-task-list__tag">Completed</strong>


                          </li>
                        </ul>
                      </li>

                      <li>
                        <h2 class="app-task-list__section">
                          Details of deceased person
                        </h2>
                        <ul class="app-task-list__items" style="padding-left: 0px">
                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="#">
                                Add personal details
                               
                              </a>
                            </span>
                              <strong class="nhsuk-tag app-task-list__tag">Completed</strong>
                              <div class="nhsuk-hint" id="example-with-hint-text-hint">
                                Details such as name of the deceased, date of birth, date of death, main residence, dependents 
                              </div>
                          </li>
                        </ul>
                      </li>

                      <li>
                        <h2 class="app-task-list__section">
                         Add their pension details
                        </h2>
                        <ul class="app-task-list__items" style="padding-left: 0px">

                          <li class="app-task-list__item">

                            <span class="app-task-list__task-name">
                              <a href="#">
                                Employment status

                              </a>
                            </span>
                              <strong class="nhsuk-tag app-task-list__tag">Completed</strong>
                          </li>
                          <li class="app-task-list__item">

                            <span class="app-task-list__task-name">
                              <a href="#">
                                Pension payment
                              </a>
                            </span>
                              <strong class="nhsuk-tag app-task-list__tag">Completed</strong>
                          </li> <li class="app-task-list__item">

                            <span class="app-task-list__task-name">
                              <a href="#">
                                Pension number
                              </a>
                            </span>
                              <strong class="nhsuk-tag app-task-list__tag">Completed</strong>
                          </li> <li class="app-task-list__item">

                            <span class="app-task-list__task-name">
                              <a href="#">
                                Tell Us once service details
                              </a>
                            </span>
                              <strong class="nhsuk-tag app-task-list__tag">Completed</strong>
                          </li>

                        </ul>
                      </li>

                     



                      <h2 class="nhsuk-heading-m"> What you need to know</h2>

                      <div class="nhsuk-form-group">

                        <fieldset class="nhsuk-fieldset" aria-describedby="nationality-hint">
                          <legend class="nhsuk-fieldset__legend">
                            <p>We'll contact you as soon as possible once we receive your form.</p>

                            <p>All of your information will be handled by the NHS Business Services Authority (NHSBSA).</p>
               
                            <p>When we contact you, we may need:</p>
                            <ul class="nhsuk-list nhsuk-list--bullet">
                                   <li>more details about the deceased</li>
                                   <li>information on who is managing the estate</li>
                                   <li>a certified death certificate</li>
                                       
                               </ul>
                            
          </fieldset>
          
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Declaration
              </h1>
            </legend>

          </fieldset>
<div class="nhsuk-checkboxes">

  <div class="nhsuk-checkboxes__item">
    <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="declaration">
    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
      I agree that all the information given is true and accurate to the best of my knowledge, and agree to be contacted about the deceased by NHS Pensions.
    </label>
  </div>
</br>
          <div>          
            <button class="nhsuk-button" type="submit">
            Submit
          </button>
    </form>



                      <p class="nhsuk-body"><a href="/candidate/your-applications/job-applications">Save and come back later</a></p>

                    </div>

                <div class="nhsuk-grid-column-one-third">

                  <!--        <div class="forms-wrapper-white">
                        <h3 class="nhsuk-heading-xs">
                            Employer
                        </h3>
                          <p>Wyre Forest Health Partnership</p>
                          <h3 class="nhsuk-heading-xs">
                              Closing date
                          </h3>
                            <p>30 June 2020</p>
                            <h3 class="nhsuk-heading-xs">
                                Job reference number
                            </h3>
                              <p>JDOD-07-9292</p>

                        </div> -->

                        
                      </div>
                  </div>
          </main>


    </div>
  </div>
   
  
{% endblock %}
